<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Someone I admire</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <div>
      <h1 class="welcome">Welcome to my page</h1>
      <nav class=>
        <ul class="nav-bar">
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/works">Work</a></li>
          <li><a href="/gallery">gallery</a></li>
        </ul>
      </nav>
    </div>

    <div class="page-cont"></div>
    <script src="/app.js"></script>
  </body>
</html>
